#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: left;
}

@media (max-width: 768px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.card {
  padding: 1em;
}

.read-the-docs {
  color: #888;
}

